{% extends 'base.html' %}

{% block title %}Panel de Usuario - Hospital SDLG{% endblock %}

{% load static %}

{% block extra_head %}
<!-- Agrega aquí cualquier estilo adicional específico del panel de usuario -->
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/main.css' %}">
{% endblock %}

{% block content %}
<!-- Contenido del panel de usuario -->
<section class="container mx-auto my-12 p-6 bg-white rounded shadow">
    <h2 class="text-3xl font-bold text-center mb-8">Panel de Usuario</h2>
    <div class="flex justify-center items-center">
        <img class="rounded w-52 h-52" src="{% static 'SVG/useranonimo.svg' %}" alt="{{letras}}">
    </div>    
    <div class="md:hidden flex justify-center items-center">
        <p class="text-xl font-bold mb-4">Usuario: {{username}}</p>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
        <!-- Aquí puedes agregar los diferentes elementos del panel de usuario -->
        <div class="text-center p-4">
            <i class="fa-solid fa-user-pen"></i>
            <h3 class="text-xl font-semibold mb-2">Perfil</h3>
            <p>Visualiza y actualiza tu información de perfil.</p>
        </div>
        <div class="text-center p-4">
            <i class="fa-regular fa-calendar-check"></i>
            <h3 class="text-xl font-semibold mb-2"><a href="/user/turnos/">Mis Turnos</a></h3>
            <p>Consulta y gestiona tus próximos turnos médicos.</p>
        </div>
        <div class="text-center p-4">
            <i class="fa-solid fa-clock-rotate-left"></i>
            <h3 class="text-xl font-semibold mb-2">Historial de Turnos</h3>
            <p>Accede al historial de tus turnos anteriores.</p>
        </div>
        <div class="text-center p-4">
            <i class="fa-solid fa-tag"></i>
            <h3 class="text-xl font-semibold mb-2"><a href="/user/testimonios/">Testimonio</a></h3>
            <p>Deja un testimonio de tu estadia en el Hospital SDLG.</p>
        </div>
    </div>
</section>
{% endblock %}
