<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hospital SDLG ofrece atención médica de calidad en Córdoba. Consulta médica, diagnóstico y tratamiento con equipos de última tecnología. ¡Solicita turno ahora!">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    {% load static %}
    <link rel="icon" href="{% static 'IMG/logo.png' %}" type="image/x-icon">
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-gray-50 text-gray-900">

<!-- Header -->
<header class="bg-white text-gray-900 p-4 shadow">
    <div class="container mx-auto flex justify-between items-center">
        {% block header_logo %}
        <div class="flex items-center">
            <img src="{% static 'IMG/logo.png' %}" alt="logo del hospital SDLG" class="h-12 mr-2">
            <img src="{% static 'IMG/nombrelogo.png' %}" alt="nombre del hospital SDLG" class="h-12">
        </div>
        {% endblock %}
        {% block nav %}
        <nav class="flex-grow">
            <ul class="flex space-x-4 justify-end">
                <li><a href="/blog/home/" class="transition duration-300 ease-in-out hover:bg-black hover:text-white px-2 py-2 rounded-lg"><i class="fas fa-home"></i> Inicio</a></li>
                <li><a href="/turnero/form/" class="transition duration-300 ease-in-out hover:bg-black hover:text-white px-2 py-2 rounded-lg"><i class="far fa-calendar-alt"></i> Turnos</a></li>
                <li><a href="/blog/atencion_al_paciente/" class="transition duration-300 ease-in-out hover:bg-black hover:text-white px-2 py-2 rounded-lg"><i class="fas fa-user-md"></i> Atención al Paciente</a></li>
                <li><a href="/blog/contactos" class="transition duration-300 ease-in-out hover:bg-black hover:text-white px-2 py-2 rounded-lg"><i class="fas fa-phone"></i> Contacto</a></li>
                <li><a href="/turnero/singup/" class="transition duration-300 ease-in-out hover:bg-black hover:text-white px-2 py-2 rounded-lg"><i class="fas fa-user-plus"></i> Registrarme</a></li>
            </ul>
        </nav>
        {% endblock %}
    </div>
</header>

<!-- Main Content -->
<main>
    {% block content %}{% endblock %}
</main>

<!-- Footer -->
<footer class="bg-gray-900 text-white text-center p-6">
    <div class="container mx-auto">
        {% block footer_content %}
        <div class="container mx-auto flex flex-col md:flex-row items-center justify-center">
            <div class="mb-4 md:mb-0 flex flex-col md:flex-row items-center space-x-4">
                <div class="flex justify-center md:justify-start items-center space-x-2">
                    <i class="fas fa-envelope h-6 w-6"></i>
                    <p class="text-sm">contacto@hospitalsdlg.com</p>
                </div>
                <div class="flex justify-center md:justify-start items-center space-x-2">
                    <i class="fas fa-phone h-6 w-6"></i>
                    <p class="text-sm">+351 666 6469</p>
                </div>
                <div class="flex justify-center md:justify-start items-center space-x-2">
                    <i class="fas fa-map-marker-alt h-6 w-6"></i>
                    <p class="text-sm">Elsa Pato 2385, Córdoba Capital, Argentina</p>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block footer_text %}
        <p class="text-gray-600 mb-4 text-sm sm:text-base">©2024 SDLG. Todos los derechos reservados.</p>
        {% endblock %}
    </div>
</footer>

<script src="{% static 'JS/blog_scripts.js' %}"></script>

<!-- Bloque para scripts adicionales -->
{% block extra_scripts %}{% endblock %}
</body>
</html>
